button{
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: large;
    padding: 0;
}
.delete{
    color: red;
}
.see-details{
    color: blue;
}

button:hover{
    cursor: pointer;
}