<div *ngIf="products">
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    <tr *ngFor="let product of products | async">
      <td>{{ product.product?.productCategoryName }}</td>
      <td>{{ product.product?.name }}</td>
      <td>{{ product.product?.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <app-icon-button
          [icon]="'delete'"
          (click)="handleDelete(product.product?.id)"
        ></app-icon-button>
      </td>
    </tr>
  </table>
  <button class="btn" (click)="handlePlaceOrder()">Place Order</button>
</div>
