<div *ngIf="productDetails">
  <div>
    <!-- <h1>Product:{{ productDetails.name }}</h1> -->
  </div>
  <div class="details-container">
    <div class="labels">
      <p>Name:</p>
      <p>Category:</p>
      <p>Price:</p>
      <p>Description:</p>
      <!-- <button (click)="addToCart(productDetails)">Add to cart</button> -->
    </div>
    <div class="values">
      <!-- <p>{{ productDetails.name }}</p>
      <p>{{ productDetails.productCategoryName }}</p>
      <p>{{ productDetails.price }}RON</p>
      <p>{{ productDetails.description }}</p> -->
    </div>
  </div>
</div>
